<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itstyle.quartz.mapper.QrtzJobDetailsMapper">


    <select id="queryListModel" resultType="com.itstyle.quartz.entity.QuartzEntity">
        SELECT
            job.JOB_NAME AS jobName,
            job.JOB_GROUP AS jobGroup,
            job.DESCRIPTION AS description,
            job.JOB_CLASS_NAME AS jobClassName,
            cron.CRON_EXPRESSION AS cronExpression,
            tri.TRIGGER_NAME AS triggerName,
            tri.TRIGGER_STATE AS triggerState,
            job.JOB_NAME AS oldJobName,
            job.JOB_GROUP AS oldJobGroup
        FROM
            qrtz_job_details AS job
                LEFT JOIN qrtz_triggers AS tri ON job.JOB_NAME = tri.JOB_NAME
                AND job.JOB_GROUP = tri.JOB_GROUP
                LEFT JOIN qrtz_cron_triggers AS cron ON cron.TRIGGER_NAME = tri.TRIGGER_NAME
                AND cron.TRIGGER_GROUP = tri.JOB_GROUP
        WHERE
            tri.TRIGGER_TYPE = 'CRON'
        <if test="jobName != null">
            AND job.JOB_NAME = #{jobName}
        </if>

    </select>


    <select id="queryCount" resultType="java.lang.Long">
        SELECT
            count(*)
        FROM
            qrtz_job_details AS job
                LEFT JOIN qrtz_triggers AS tri ON job.JOB_NAME = tri.JOB_NAME
                AND job.JOB_GROUP = tri.JOB_GROUP
                LEFT JOIN qrtz_cron_triggers AS cron ON cron.TRIGGER_NAME = tri.TRIGGER_NAME
                AND cron.TRIGGER_GROUP = tri.JOB_GROUP
        WHERE
            tri.TRIGGER_TYPE = 'CRON'
    </select>
</mapper>
